@charset "utf-8";

/* 通用设置 */
* {
    /* 元素之间的距离 */
    /*margin: 20px;*/
    
    /* 边框间距（可设1到4个参数） */
    padding: 10px;
    
    /* 设置加粗(normal/bold) */
    /*font-weight: bold;*/
    
    /* 设置斜体(normal/italic) */
    /*font-style: italic;*/
    
    /* 行高（行间距） */
    /*line-height: 20px;*/
    
    /* 文本对齐方式 */
    /*text-align: center;*/

    /*color: yellow;*/
}

/* ----------------- 通用：分割线 ----------------- */

hr.line {
  border: none;
  border-top: 3px double gray;
  color: gray;
  height: 5px;
}

hr.bar {
    width:80%;
    margin:0 auto;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/* =========================================== */


/* ----------------- body样式 ----------------- */

body.homepage {
    /*设置背景插图*/
    /*background-image: url("./img/bgfig.png");*/
    /*设置渐变背景*/
    /* background: linear-gradient(to right, #FC0, #F60) */
    font-size: 18pt;
}

/* =========================================== */


/* -------- 定制：homepage系列 -------- */

.homepage-name {
    color: blue;
}

.homepage-logo {
    img {
        width: 300px;
        height: auto;
    }
}

/* =================================== */
